In [216]:
# !pip install pandas-profiling

In [217]:
# !pip install spacy

In [218]:
# !pip install en_core_web_sm-3.1.0-py3-none-any.whl

In [125]:
import spacy
import en_core_web_sm
nlp = spacy.load("en_core_web_sm")

In [126]:
import pandas as pd

In [127]:
df_combined_web_iva_search = pd.read_csv("s3://adl-core-sagemaker-studio/external/IVA/combined1.csv")

/tmp/ipykernel_11120/1795762148.py:1: DtypeWarning: Columns (28,101,118) have mixed types. Specify dtype option on import or set low_memory=False.
  df_combined_web_iva_search = pd.read_csv("s3://adl-core-sagemaker-studio/external/IVA/combined1.csv")

In [128]:
df_combined_web_iva_search.head()

,agent_entitlement_client_name,agent_entitlement_access_key,channel,companytracking_clientid,companytracking_companyid,companytracking_companyname,companytracking_multitenantid,entry_id,entry_order,entry_type,...,action_type,load_timestamp,source_system_code,mobile_app_device_type,page_load_elapsed_time,mobile_app_type,session_create_date_cst_timezone_partition,platform_id_y,search_text,search_results
0,Enterprise,00000000-0000-0000-0000-000000000000,Web,1141,jci,Johnson Controls Inc,NaN,2584351,3,Click Unit Link,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Enterprise,00000000-0000-0000-0000-000000000000,Web,8666,bestbuy,Best Buy,NaN,2657214,6,Click Unit Link,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Enterprise,00000000-0000-0000-0000-000000000000,Web,8053,sodexo,sodexo,NaN,2743663,4,Click Unit Link,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Enterprise,00000000-0000-0000-0000-000000000000,Web,8053,sodexo,sodexo,NaN,2743662,3,Click Unit Link,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Huntington Ingalls Industries Inc.,376b48f5-f9f3-4911-9e73-7d40c25b47c7,Web,15757,hii,Huntington Ingalls Industries,NaN,10566463,2,Typed Input,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
# df_combined_web_iva_search['session_create_date_cst_timezone_partition'].max()

In [130]:
df_combined_web_iva_search.shape

(315251, 169)

In [87]:
# df_combined_web_iva_search.isnull().sum()

In [88]:
# print(df_combined_web_iva_search.dtypes)

In [131]:
df_combined_web_iva_search.drop_duplicates(inplace=True)

In [132]:
df_combined_web_iva_search.shape

(315251, 169)

In [133]:
df_combined_web_iva_search.head()

,agent_entitlement_client_name,agent_entitlement_access_key,channel,companytracking_clientid,companytracking_companyid,companytracking_companyname,companytracking_multitenantid,entry_id,entry_order,entry_type,...,action_type,load_timestamp,source_system_code,mobile_app_device_type,page_load_elapsed_time,mobile_app_type,session_create_date_cst_timezone_partition,platform_id_y,search_text,search_results
0,Enterprise,00000000-0000-0000-0000-000000000000,Web,1141,jci,Johnson Controls Inc,NaN,2584351,3,Click Unit Link,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Enterprise,00000000-0000-0000-0000-000000000000,Web,8666,bestbuy,Best Buy,NaN,2657214,6,Click Unit Link,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Enterprise,00000000-0000-0000-0000-000000000000,Web,8053,sodexo,sodexo,NaN,2743663,4,Click Unit Link,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Enterprise,00000000-0000-0000-0000-000000000000,Web,8053,sodexo,sodexo,NaN,2743662,3,Click Unit Link,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Huntington Ingalls Industries Inc.,376b48f5-f9f3-4911-9e73-7d40c25b47c7,Web,15757,hii,Huntington Ingalls Industries,NaN,10566463,2,Typed Input,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [135]:
df_combined_web_iva_search['session_create_date_cst_timezone_partition'] = pd.to_datetime(df_combined_web_iva_search['session_create_date_cst_timezone_partition'])

In [136]:
monthly_counts_1 = df_combined_web_iva_search.resample('M', on='session_create_date_cst_timezone_partition').count()

In [137]:
monthly_counts_1

,agent_entitlement_client_name,agent_entitlement_access_key,channel,companytracking_clientid,companytracking_companyid,companytracking_companyname,companytracking_multitenantid,entry_id,entry_order,entry_type,...,action_type,load_timestamp,source_system_code,mobile_app_device_type,page_load_elapsed_time,mobile_app_type,session_create_date_cst_timezone_partition,platform_id_y,search_text,search_results
session_create_date_cst_timezone_partition,,,,,,,,,,,,,,,,,,,,,
2022-07-31,21465,21465,21465,21465,21465,21465,0,21465,21465,21465,...,13,21465,21465,0,21453,21465,21465,9186,9186,9186
2022-08-31,27759,27759,27759,27759,27759,27759,0,27759,27759,27759,...,49,27759,27759,0,27712,27759,27759,12933,12933,12933
2022-09-30,28518,28518,28518,28518,28518,28518,0,28518,28518,28518,...,58,28518,28518,0,28467,28518,28518,12979,12979,12979
2022-10-31,45599,45599,45599,45599,45599,45599,0,45599,45599,45599,...,45599,45599,45599,0,45532,45599,45599,20144,20144,20144
2022-11-30,30503,30503,30503,30503,30503,30503,0,30503,30503,30503,...,30503,30503,30503,0,30420,30503,30503,13120,13120,13120
2022-12-31,33212,33212,33212,33212,33212,33212,0,33212,33212,33212,...,33212,33212,33212,0,33195,33212,33212,13889,13889,13889
2023-01-31,48028,48028,48028,48028,48028,48028,0,48028,48028,48028,...,48028,48028,48028,0,47944,48028,48028,21925,21925,21925
2023-02-28,41063,41063,41063,41063,41063,41063,0,41063,41063,41063,...,41063,41063,41063,0,41040,41063,41063,17934,17934,17934

In [138]:
# from pandas_profiling import ProfileReport
# prof = ProfileReport(df_combined_web_iva_search)
# prof.to_file(output_file='output.html')

In [139]:
# df_combined_web_iva_search.columns.to_list() # 'input', 'session_id','person_internal_id','client_id',
# 'yyyymm',

In [140]:
df_combined_web_iva_search2 = df_combined_web_iva_search[['input', 'session_id','person_internal_id',
'client_id','yyyymm','person_id','person_birth_date', 'person_age', 'person_gender', 
'person_employment_status','person_state', 'person_union_vs_non_union', 'person_salary',
'person_eeo',
'global_session_id',
'web_session_id',
'page_name',
'business_page_name',
'page_domain',
'page_type_code',
'page_type',
'page_web_type_description',
'browser_language',
'page_visit_duration',
'page_process_name',
'page_process_detail',
'session_create_date_cst_timezone_partition',
'search_text',
'search_results']]

In [141]:
df_combined_web_iva_search2.head()

,input,session_id,person_internal_id,client_id,yyyymm,person_id,person_birth_date,person_age,person_gender,person_employment_status,...,page_type_code,page_type,page_web_type_description,browser_language,page_visit_duration,page_process_name,page_process_detail,session_create_date_cst_timezone_partition,search_text,search_results
0,Benefits Eligibility For Stepchildren,943111,0,1141,201801,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
1,Benefits Eligibility For Children,967684,319320025,8666,201801,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
2,Benefits Eligibility For Children,997133,26800016,8053,201801,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
3,Benefits Eligibility For Children,997133,26800016,8053,201801,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
4,It says we now have to verify my daughter by A...,4306768,391930089,15757,201907,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN

In [142]:
df_combined_web_iva_search3 = df_combined_web_iva_search2.fillna('')

In [143]:
df_combined_web_iva_search3.head()

,input,session_id,person_internal_id,client_id,yyyymm,person_id,person_birth_date,person_age,person_gender,person_employment_status,...,page_type_code,page_type,page_web_type_description,browser_language,page_visit_duration,page_process_name,page_process_detail,session_create_date_cst_timezone_partition,search_text,search_results
0,Benefits Eligibility For Stepchildren,943111,0,1141,201801,,,,,,...,,,,,,,,NaT,,
1,Benefits Eligibility For Children,967684,319320025,8666,201801,,,,,,...,,,,,,,,NaT,,
2,Benefits Eligibility For Children,997133,26800016,8053,201801,,,,,,...,,,,,,,,NaT,,
3,Benefits Eligibility For Children,997133,26800016,8053,201801,,,,,,...,,,,,,,,NaT,,
4,It says we now have to verify my daughter by A...,4306768,391930089,15757,201907,,,,,,...,,,,,,,,NaT,,

In [144]:
df_combined_web_iva_search3.columns

Index(['input', 'session_id', 'person_internal_id', 'client_id', 'yyyymm',
       'person_id', 'person_birth_date', 'person_age', 'person_gender',
       'person_employment_status', 'person_state', 'person_union_vs_non_union',
       'person_salary', 'person_eeo', 'global_session_id', 'web_session_id',
       'page_name', 'business_page_name', 'page_domain', 'page_type_code',
       'page_type', 'page_web_type_description', 'browser_language',
       'page_visit_duration', 'page_process_name', 'page_process_detail',
       'session_create_date_cst_timezone_partition', 'search_text',
       'search_results'],
      dtype='object')

In [145]:
# df_combined_web_iva_search3['page_name'].value_counts()

In [146]:
words_2 = ['senior care', 'elder care', 'geriatric care', 'Aging care', 'elderly-care', 'senior citizen care', 'aging-in-place care', 
 'elder support', 'senior assistance', 'gerontology care', 'caregiving for the elderly', 'senior health care',
 'elderly companion care', 'senior care assistance', 'age related care', 'aged care', 'care for old', 'caring for the elderly',
 'care for older people', 'adult daycare', 'adult care', 'old care', 'Golden agers', 'Aged population', 'Aging population', 
'Elder population', 'Elderly population', 'Retirees', 'Oldsters', 'Elderly residents', 'Senior members', 'Elder statesmen',
 'Elder women', 'Elder generation', 'Elderly people', 'Grey generation', 'Third age population', 'Silver generation']

df_combined_web_iva_search5= df_combined_web_iva_search3[(df_combined_web_iva_search3['input'].str.contains('|'.join(words_2), case=False, na=False)) 
                                                            | (df_combined_web_iva_search3['page_name'].str.contains('|'.join(words_2), case=False, na=False))
                                                           | (df_combined_web_iva_search3['search_text'].str.contains('|'.join(words_2), case=False, na=False))]
# df_combined_web_iva_search4_2 = df_combined_web_iva_search3[df_combined_web_iva_search3['page_name'].str.contains('|'.join(words_2), case=False, na=False)]
# df_combined_web_iva_search4_3 = df_combined_web_iva_search3[df_combined_web_iva_search3['search_text'].str.contains('|'.join(words_2), case=False, na=False)]

In [147]:
df_combined_web_iva_search3.shape, df_combined_web_iva_search5.shape

((315251, 29), (991, 29))

In [148]:
# df_combined_web_iva_search5 = pd.concat([df_combined_web_iva_search4_1, df_combined_web_iva_search4_2, df_combined_web_iva_search4_3], axis=0)

In [149]:
df_combined_web_iva_search5 = df_combined_web_iva_search5.sample(frac=1, random_state=42)

In [150]:
# df_combined_web_iva_search5['category'] = 'Elder care'

In [151]:
df_combined_web_iva_search5.shape

(991, 29)

In [152]:
df_combined_non_ec_web_iva_search = df_combined_web_iva_search3[(~df_combined_web_iva_search3['input'].str.contains('|'.join(words_2), case=False, na=False))
                                                            | (~df_combined_web_iva_search3['page_name'].str.contains('|'.join(words_2), case=False, na=False))
                                                           | (~df_combined_web_iva_search3['search_text'].str.contains('|'.join(words_2), case=False, na=False))].head(df_combined_web_iva_search5.shape[0]//3)

In [153]:
# df_combined_non_ec_web_iva_search = pd.concat([df_combined_non_ec_web_iva_search1, df_combined_non_ec_web_iva_search2, df_combined_non_ec_web_iva_search3], axis=0)

In [154]:
df_combined_non_ec_web_iva_search = df_combined_non_ec_web_iva_search.sample(frac=1, random_state=42)

In [155]:
# df_combined_non_ec_web_iva_search['category'] = 'other'

In [156]:
df_combined_ec_model_data = pd.concat([df_combined_web_iva_search5, df_combined_non_ec_web_iva_search], axis=0).sample(frac=1, random_state=42)

In [157]:
df_combined_ec_model_data.shape

(1321, 29)

In [158]:
# df_combined_ec_model_data['session_create_date_cst_timezone_partition'].max()

In [159]:
# group the dataframe by month and count the number of rows in each month
# monthly_counts = df_combined_ec_model_data.resample('M', on='session_create_date_cst_timezone_partition').count()

In [160]:
# monthly_counts

In [161]:
# df_combined_ec_model_data_2 = df_combined_ec_model_data[df_combined_ec_model_data['session_create_date_cst_timezone_partition']<start_date]

In [162]:
# df_combined_ec_model_data_2.shape

### text preprocess

In [163]:
def count_intnt_entits(text):
    doc = nlp(text)
    intents = [token.text for token in doc if token.pos_ == 'VERB']
    entities = [token.text for token in doc if token.pos_ in {'NOUN', 'PROPN', 'ADJ', 'NUM', 'ADV'}]
    return len(intents), len(entities)

import re
def clean_text(text):
    clean_text = re.sub(r'[^\w\s]', '', text)
    return clean_text

def extract_ner_entities(sentence):
    doc = nlp(sentence)
    entities = [(entity.text, entity.label_) for entity in doc.ents]
    return entities

import numpy as np
def length_entities(list_entities):
    if (list_entities==np.nan or list_entities==None or list_entities==''):
        return 0
    else:
        return len(list_entities)
    
# filter_func = lambda x: any(item[1] in ["PERSON", "GPE", "ORG", "LOC", "FAC"] for item in x)
def filter_named_entities(text):
    # Process the text using Spacy
    doc = nlp(text)
    # Filter out named entities (ORG, PERSON, and GPE tags)
    filtered_words = [token.text for token in doc if token.ent_type_ not in ['ORG', 'PERSON', 'GPE', "LOC", "FAC"]]
    # Join the filtered words back into a string
    filtered_text = ' '.join(filtered_words)
    return filtered_text

In [164]:
import re
    
list_1 = ['ira','RMD','HRdirect','livechat','what is my hsa','P45','Payslip?',
    'sps','F80.2','ub','What is YSA','Paystub please','Sh','mfv','C-128','ax','no is hsa','FormL564','HIS','cif','GreT','YSACard',
    'Heli','RxPCN','403(b)','Hsa yes or no','ypr','Gv','ONA?','What is UHC?','HC-2','uo','what is 4DX?','osh','what is my hsa?',
    'sPRAVATO','sdr','RMD’s','coverage?How','This is for my hsa','pto?','A&DD','childcareplus','fs','mbi','Is that my lowesbenefit.com',
    'hra yes','mri?']

def text_preprocess(dataframe, list_1):
    dataframe = dataframe.drop_duplicates()
    dataframe[['no_of_intents', 'no_of_entities']] = dataframe.apply(lambda x: pd.Series(count_intnt_entits(x['input'])), axis=1)  
    dataframe['input_cleaned'] = ''
    dataframe.loc[dataframe['input'].notnull(), 'input_cleaned'] = dataframe.loc[dataframe['input'].notnull(), 'input'].apply(clean_text)
    dataframe.loc[dataframe['page_name'].notnull(), 'page_name_cleaned'] = dataframe.loc[dataframe['page_name'].notnull(), 'page_name'].apply(clean_text)
    dataframe.loc[dataframe['search_text'].notnull(), 'search_text_cleaned'] = dataframe.loc[dataframe['search_text'].notnull(), 'search_text'].apply(clean_text)
    dataframe['ner_enities'] = ''
    dataframe.loc[dataframe['input_cleaned']!='', 'ner_enities'] = dataframe.loc[dataframe['input_cleaned']!='', 'input_cleaned'].apply(extract_ner_entities)
    dataframe['len_ner_enities'] = dataframe['ner_enities'].apply(length_entities)
    dataframe3 = dataframe[dataframe['len_ner_enities']>0]
    dataframe3['input_cleaned'] = dataframe3['input_cleaned'].apply(filter_named_entities)
    dataframe6 = pd.concat([dataframe[dataframe['len_ner_enities']==0], dataframe3], axis = 0)
    dataframe6 = dataframe6.drop(['no_of_intents','no_of_entities','ner_enities','len_ner_enities'], axis=1)
    dataframe6['input_changed']=dataframe6['input']!=dataframe6['input_cleaned']
    dataframe6['page_name_changed']=dataframe6['page_name']!=dataframe6['page_name_cleaned']
    dataframe6['search_text_changed']=dataframe6['search_text']!=dataframe6['search_text_cleaned']
    
    # create a new column 'category' containing 'Elder care' for rows where the words in words_2 appear in any of the cleaned text columns
    words_1 = ['senior care', 'elder care', 'geriatric care', 'Aging care', 'elderly-care', 'senior citizen care', 'aging-in-place care', 
                'elder support', 'senior assistance', 'gerontology care', 'caregiving for the elderly', 'senior health care',
                'elderly companion care', 'senior care assistance', 'age related care', 'aged care', 'care for old', 'caring for the elderly',
                'care for older people', 'adult daycare', 'adult care', 'old care', 'Golden agers', 'Aged population', 'Aging population', 
                'Elder population', 'Elderly population', 'Retirees', 'Oldsters', 'Elderly residents', 'Senior members', 'Elder statesmen',
                'Elder women', 'Elder generation', 'Elderly people', 'Grey generation', 'Third age population', 'Silver generation']
    words_2 = [word.lower() for word in words_1]

    def contains_category(text):
        for word in words_2:
            pattern = r'(?<![^\W_])' + re.escape(word) + r'(?![^\W_])'
            if re.search(pattern, text.lower()):
#                 print(word)
                return True
        return False

    dataframe6['category'] = ''
    mask = (dataframe6['input_cleaned'].apply(contains_category) |
        dataframe6['page_name_cleaned'].apply(contains_category) |
        dataframe6['search_text_cleaned'].apply(contains_category)) & (dataframe6['category'] != 'Other')
    dataframe6.loc[mask, 'category'] = 'Elder care'
    dataframe6.loc[dataframe6['category'] == '', 'category'] = 'Other'
    
    return dataframe6

In [165]:
df_combined_ec_model_data_2 = text_preprocess(df_combined_ec_model_data, list_1)

/tmp/ipykernel_11120/3230591633.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[['no_of_intents', 'no_of_entities']] = dataframe.apply(lambda x: pd.Series(count_intnt_entits(x['input'])), axis=1)
/tmp/ipykernel_11120/3230591633.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[['no_of_intents', 'no_of_entities']] = dataframe.apply(lambda x: pd.Series(count_intnt_entits(x['input'])), axis=1)
/tmp/ipykernel_11120/3230591633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['input_cleaned'] = ''
/tmp/ipykernel_11120/3230591633.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.loc[dataframe['input'].notnull(), 'input_cleaned'] = dataframe.loc[dataframe['input'].notnull(), 'input'].apply(clean_text)
/tmp/ipykernel_11120/3230591633.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.loc[dataframe['page_name'].notnull(), 'page_name_cleaned'] = dataframe.loc[dataframe['page_name'].notnull(), 'page_name'].apply(clean_text)
/tmp/ipykernel_11120/3230591633.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.loc[dataframe['search_text'].notnull(), 'search_text_cleaned'] = dataframe.loc[dataframe['search_text'].notnull(), 'search_text'].apply(clean_text)
/tmp/ipykernel_11120/3230591633.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['ner_enities'] = ''
/tmp/ipykernel_11120/3230591633.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.loc[dataframe['input_cleaned']!='', 'ner_enities'] = dataframe.loc[dataframe['input_cleaned']!='', 'input_cleaned'].apply(extract_ner_entities)
/tmp/ipykernel_11120/3230591633.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['len_ner_enities'] = dataframe['ner_enities'].apply(length_entities)
/tmp/ipykernel_11120/3230591633.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe3['input_cleaned'] = dataframe3['input_cleaned'].apply(filter_named_entities)

In [166]:
df_combined_ec_model_data_2.head(5)

,input,session_id,person_internal_id,client_id,yyyymm,person_id,person_birth_date,person_age,person_gender,person_employment_status,...,session_create_date_cst_timezone_partition,search_text,search_results,input_cleaned,page_name_cleaned,search_text_cleaned,input_changed,page_name_changed,search_text_changed,category
245942,Managed Care Copay,15414457,279300083,3979,202207,,,,,,...,NaT,,,Managed Care Copay,,,False,False,False,Other
239067,explain what would be considered an elder care...,8969865,244100023,8053,202011,,,,,,...,NaT,,,explain what would be considered an elder care...,,,False,False,False,Elder care
92366,child care plus,16477588,24830055,1487,202210,person_id,person_birth_date,31.0,person_gender,Active,...,2022-08-04,elder care,42.0,child care plus,HmCstmChildCarePlusLandingPageOpen,elder care,False,True,False,Elder care
92406,child care plus,16477588,24830055,1487,202210,person_id,person_birth_date,31.0,person_gender,Active,...,2022-07-15,elder care,42.0,child care plus,HmCstmChildCarePlusLandingPageOpen,elder care,False,True,False,Elder care
71220,Manage Managed Care Benefits,18881160,291730021,1487,202303,person_id,person_birth_date,35.0,person_gender,Active,...,2023-01-11,,,Manage Managed Care Benefits,HmCstmChildCarePlusLandingPageOpen,,False,True,False,Other

In [167]:
# for column in df_combined_ec_model_data_2.columns:
#     print(f"{column}: {df_combined_ec_model_data_2[column].head(10)}", end='\n\n')

In [168]:
# df_combined_ec_model_data_2['person_eeo'].value_counts()

In [169]:
df_combined_ec_model_data_3 = df_combined_ec_model_data_2.drop(['person_id','person_birth_date','person_gender','global_session_id','web_session_id','business_page_name',
                                                               'page_type_code','page_type','page_web_type_description','browser_language','page_process_name',
                                                                'page_process_detail','person_eeo'], axis =1)

In [170]:
df_combined_ec_model_data_3.columns

Index(['input', 'session_id', 'person_internal_id', 'client_id', 'yyyymm',
       'person_age', 'person_employment_status', 'person_state',
       'person_union_vs_non_union', 'person_salary', 'page_name',
       'page_domain', 'page_visit_duration',
       'session_create_date_cst_timezone_partition', 'search_text',
       'search_results', 'input_cleaned', 'page_name_cleaned',
       'search_text_cleaned', 'input_changed', 'page_name_changed',
       'search_text_changed', 'category'],
      dtype='object')

In [171]:
df_combined_ec_model_data_3 = df_combined_ec_model_data_3[[ 'session_id', 'person_internal_id', 'client_id', 'input','input_cleaned',
                                                            'search_text','search_text_cleaned', 'page_name','page_name_cleaned',
                                                           'category','person_age',
        'person_employment_status', 'person_state',
       'person_union_vs_non_union', 'person_salary',
       'page_domain', 'page_visit_duration',
       'session_create_date_cst_timezone_partition',
       'search_results', 'yyyymm',
        'input_changed', 'page_name_changed',
       'search_text_changed']]

In [172]:
# df_combined_ec_model_data_3.to_excel('ec_model_combined_cleaned_data_v10.xlsx')

In [173]:
df_combined_ec_model_data_3.dtypes

session_id                                             int64
person_internal_id                                     int64
client_id                                              int64
input                                                 object
input_cleaned                                         object
search_text                                           object
search_text_cleaned                                   object
page_name                                             object
page_name_cleaned                                     object
category                                              object
person_age                                            object
person_employment_status                              object
person_state                                          object
person_union_vs_non_union                             object
person_salary                                         object
page_domain                                           object
page_visit_duration                                   object
session_create_date_cst_timezone_partition    datetime64[ns]
search_results                                        object
yyyymm                                                 int64
input_changed                                           bool
page_name_changed                                       bool
search_text_changed                                     bool
dtype: object

In [174]:
df_combined_ec_model_data_4 = df_combined_ec_model_data_3.drop(['input','search_text','page_name','input_changed','page_name_changed',
                                                               'search_text_changed'], axis=1)

In [175]:
# df_combined_ec_model_data_4.replace('', np.nan, inplace=True)

In [176]:
# df_combined_ec_model_data_4.fillna(0, inplace=True)

In [177]:
df_combined_ec_model_data_5 = df_combined_ec_model_data_4.copy()

In [178]:
df_combined_ec_model_data_5[['person_age','person_salary','page_visit_duration']] = df_combined_ec_model_data_4[['person_age','person_salary','page_visit_duration']].apply(pd.to_numeric,errors='coerce')
# combined_ec_model_data_5['person_salary'] = df_combined_ec_model_data_4['person_salary'].to_numeric()
# combined_ec_model_data_5['page_visit_duration'] = df_combined_ec_model_data_4['page_visit_duration'].to_numeric()
# .astype({"person_age": float, "person_salary": float, "page_visit_duration": float })

In [179]:
df_combined_ec_model_data_5['session_create_date_cst_timezone_partition'] = pd.to_datetime(
    df_combined_ec_model_data_4['session_create_date_cst_timezone_partition'])

In [180]:
df_combined_ec_model_data_5.shape

(1174, 17)

In [181]:
# df_combined_ec_model_data_5.to_excel('final_ec_model_data.xlsx')

In [182]:
import pandas as pd

Combined(web, IVA, and Search) data in s3 at the location: 

s3://adl-core-dev-sagemaker-studio/external/IVA/Combined_Data/combined1.csv

contains 8 months data only from July 2022 to Feb 2023.

In [184]:
df_combined_ec_model_data_5['session_create_date_cst_timezone_partition'] = pd.to_datetime(df_combined_ec_model_data_5['session_create_date_cst_timezone_partition'])

In [185]:
# filterimg last sox month data as unseen test data
start_date = pd.to_datetime('2023-01-01 00:00:00')
end_date = df_combined_ec_model_data_5['session_create_date_cst_timezone_partition'].max()
unseen_test_df = df_combined_ec_model_data_5[(df_combined_ec_model_data_5['session_create_date_cst_timezone_partition'] >= start_date) & (df_combined_ec_model_data_5['session_create_date_cst_timezone_partition'] <= end_date)]

In [186]:
unseen_test_df.shape

(164, 17)

In [187]:
unseen_test_df.fillna(value={'input_cleaned': ' ', 'page_name_cleaned': ' ', 'search_text_cleaned': ' '}, inplace=True)

/tmp/ipykernel_11120/3508498311.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unseen_test_df.fillna(value={'input_cleaned': ' ', 'page_name_cleaned': ' ', 'search_text_cleaned': ' '}, inplace=True)

In [188]:
unseen_test_df[['input_cleaned', 'search_text_cleaned', 'page_name_cleaned', 'category']].to_excel('unseen_data.xlsx')

In [189]:
final_EC_model_df = df_combined_ec_model_data_5[df_combined_ec_model_data_5['session_create_date_cst_timezone_partition'] < start_date]

In [190]:
final_EC_model_df.to_excel('final_ec_model_data.xlsx')

In [191]:
final_EC_model_df.shape

(392, 17)

In [192]:
# Load the data
data = pd.read_excel('final_ec_model_data.xlsx')[['input_cleaned', 'search_text_cleaned', 'page_name_cleaned', 'category']]
data.sample()

,input_cleaned,search_text_cleaned,page_name_cleaned,category
78,elder care,NaN,HmCstmChildCarePlusLandingPageOpen,Elder care

In [193]:
data.fillna(value={'input_cleaned': ' ', 'page_name_cleaned': ' ', 'search_text_cleaned': ' '}, inplace=True)

In [194]:
data.sample()

,input_cleaned,search_text_cleaned,page_name_cleaned,category
382,Dependent Age,,contentPage Child adult and pet care resources,Other

In [195]:
data.category.value_counts()

Elder care    198
Other         194
Name: category, dtype: int64

In [196]:
data.category = data.category.map({'Other':0, 'Elder care':1})
data.sample()

,input_cleaned,search_text_cleaned,page_name_cleaned,category
109,child care plus,elder care,HmCstmChildCarePlusLandingPageOpen,1

In [197]:
# from sklearn.model_selection import train_test_split

# # split the dataset into training and testing sets
# data, unseen_data = train_test_split(data, test_size=0.1, random_state=6)
# unseen_data.to_excel('unseen_data.xlsx')

### Model building on the basis of just text columns

------

In [198]:
import pandas as pd
import numpy as np
import torch
from sklearn.metrics import accuracy_score, confusion_matrix
from transformers import BertTokenizer, BertForSequenceClassification

# set the random seed for NumPy
np.random.seed(42)

# set the random seed for PyTorch
torch.manual_seed(42)

# load the data
# data = pd.read_csv('data.csv')

# load the BERT tokenizer
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')

# encode the data using the tokenizer
encodings = tokenizer(list(data['input_cleaned']), list(data['search_text_cleaned']), list(data['page_name_cleaned']),
                      truncation=True, padding=True)

# create the dataset
dataset = torch.utils.data.TensorDataset(
    torch.tensor(encodings['input_ids']),
    torch.tensor(encodings['attention_mask']),
    torch.tensor(list(data['category']))
)

# split the dataset into training and validation sets
train_size = int(0.8 * len(dataset))
val_size = len(dataset) - train_size
train_dataset, val_dataset = torch.utils.data.random_split(dataset, [train_size, val_size])

# create the DataLoader for the training and validation sets
train_loader = torch.utils.data.DataLoader(train_dataset, batch_size=16, shuffle=True)
val_loader = torch.utils.data.DataLoader(val_dataset, batch_size=16, shuffle=False)

# load the BERT model for sequence classification
model = BertForSequenceClassification.from_pretrained('bert-base-uncased', num_labels=2,)

# set up the optimizer and loss function
optimizer = torch.optim.AdamW(model.parameters(), lr=2e-5)
loss_fn = torch.nn.CrossEntropyLoss()

epochs=10

# train the model
for epoch in range(epochs):
    running_loss = 0.0
    for batch in train_loader:
        input_ids, attention_mask, labels = batch
        outputs = model(input_ids, attention_mask=attention_mask, labels=labels)
        loss = outputs.loss
        logits = outputs.logits
        loss.backward()
        optimizer.step()
        optimizer.zero_grad()
        running_loss += loss.item()
    print(f'Epoch {epoch + 1} Loss: {running_loss / len(train_loader)}')

    # make predictions on the validation set and compute the accuracy
    predictions = []
    true_labels = []
    with torch.no_grad():
        model.eval()
        for batch in val_loader:
            input_ids, attention_mask, labels = batch
            outputs = model(input_ids, attention_mask=attention_mask)
            logits = outputs.logits
            predictions.extend(torch.argmax(logits, dim=1).tolist())
            true_labels.extend(labels.tolist())

    accuracy = accuracy_score(true_labels, predictions)
    print(f'Epoch {epoch + 1} Validation Accuracy: {accuracy}')

    # generate the confusion matrix
    cm = confusion_matrix(true_labels, predictions)
    print(f'Epoch {epoch + 1} Confusion Matrix:')
    print(cm)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertForSequenceClassification: ['cls.predictions.decoder.weight', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.dense.weight', 'cls.seq_relationship.bias', 'cls.predictions.transform.LayerNorm.bias', 'cls.seq_relationship.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.bias']
- This IS expected if you are initializing BertForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of BertForSequenceClassification were not initialized from the model checkpoint at bert-base-uncased and are newly initialized: ['classifier.bias', 'classifier.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

Epoch 1 Loss: 0.34283212199807167
Epoch 1 Validation Accuracy: 0.9873417721518988
Epoch 1 Confusion Matrix:
[[38  1]
 [ 0 40]]
Epoch 2 Loss: 0.060940293874591586
Epoch 2 Validation Accuracy: 0.9873417721518988
Epoch 2 Confusion Matrix:
[[38  1]
 [ 0 40]]
Epoch 3 Loss: 0.025831894529983402
Epoch 3 Validation Accuracy: 1.0
Epoch 3 Confusion Matrix:
[[39  0]
 [ 0 40]]
Epoch 4 Loss: 0.007642560871317983
Epoch 4 Validation Accuracy: 1.0
Epoch 4 Confusion Matrix:
[[39  0]
 [ 0 40]]
Epoch 5 Loss: 0.0044135111500509085
Epoch 5 Validation Accuracy: 1.0
Epoch 5 Confusion Matrix:
[[39  0]
 [ 0 40]]
Epoch 6 Loss: 0.0030801770742982628
Epoch 6 Validation Accuracy: 1.0
Epoch 6 Confusion Matrix:
[[39  0]
 [ 0 40]]
Epoch 7 Loss: 0.0023162031546235086
Epoch 7 Validation Accuracy: 0.9873417721518988
Epoch 7 Confusion Matrix:
[[38  1]
 [ 0 40]]
Epoch 8 Loss: 0.0018131122167687863
Epoch 8 Validation Accuracy: 0.9873417721518988
Epoch 8 Confusion Matrix:
[[38  1]
 [ 0 40]]
Epoch 9 Loss: 0.0014579245820641519
Epoch 9 Validation Accuracy: 0.9873417721518988
Epoch 9 Confusion Matrix:
[[38  1]
 [ 0 40]]
Epoch 10 Loss: 0.0012122895976062864
Epoch 10 Validation Accuracy: 0.9873417721518988
Epoch 10 Confusion Matrix:
[[38  1]
 [ 0 40]]

In [203]:
train_size

313

In [204]:
val_size

79

In [199]:
# define the path to save the model
save_path = "./EC_model_combined_texts_data/"

# create the directory if it doesn't exist
import os
if not os.path.exists(save_path):
    os.makedirs(save_path)

# save the model
model.save_pretrained(save_path)

## prediction code

In [200]:
import pandas as pd
import torch
from transformers import BertTokenizer, BertForSequenceClassification

# load the BERT tokenizer
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')

# load the trained model
model = BertForSequenceClassification.from_pretrained(save_path)

# load the new data to be predicted
new_data = pd.read_excel('unseen_data.xlsx')

# encode the new data using the tokenizer
encodings = tokenizer(list(new_data['input_cleaned']), list(new_data['search_text_cleaned']), list(new_data['page_name_cleaned']),
                      truncation=True, padding=True)

# create the dataset
dataset = torch.utils.data.TensorDataset(
    torch.tensor(encodings['input_ids']),
    torch.tensor(encodings['attention_mask'])
)

# create the DataLoader for the new data
loader = torch.utils.data.DataLoader(dataset, batch_size=16, shuffle=False)

# make predictions on the new data
predictions = []
with torch.no_grad():
    model.eval()
    for batch in loader:
        input_ids, attention_mask = batch
        outputs = model(input_ids, attention_mask=attention_mask)
        logits = outputs.logits
        predictions.extend(torch.argmax(logits, dim=1).tolist())

# add the predictions to the new data DataFrame
new_data['predictions'] = predictions

# save the new data with predictions
new_data.to_csv('EC_predictions.csv', index=False)

ValueError: text input must of type `str` (single example), `List[str]` (batch or single pretokenized example) or `List[List[str]]` (batch of pretokenized examples).