In [216]:
# !pip install pandas-profiling

In [217]:
# !pip install spacy

In [2]:
# !pip install en_core_web_sm-3.1.0-py3-none-any.whl

In [3]:
import spacy
import en_core_web_sm
nlp = spacy.load("en_core_web_sm")

2023-03-30 00:39:55.525588: I tensorflow/core/util/util.cc:169] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.

In [4]:
import pandas as pd

In [5]:
df_combined_web_iva_search = pd.read_csv("s3://adl-core-sagemaker-studio/external/IVA/combined_new_adult-child_outer_new.csv")

/tmp/ipykernel_18/1765538524.py:1: DtypeWarning: Columns (0,1,2,4,5,9,10,11,12,13,14,15,16,17,18,20,21,23,24,25,26,27,28,29,31,33,39,41,56,57,58,59,63,64,65,67,68,70,71,74,75,77,78,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,106,108,109,110,111,112,113,114,115,116,117,118,119,122,123,124,125,126,127,128,129,130,131,132,134,135,136,137,138,155,156,159,160,161,164,165) have mixed types. Specify dtype option on import or set low_memory=False.
  df_combined_web_iva_search = pd.read_csv("s3://adl-core-sagemaker-studio/external/IVA/combined_new_adult-child_outer_new.csv")

In [6]:
df_combined_web_iva_search['session_start_cst'] = pd.to_datetime(df_combined_web_iva_search['session_start_cst'])

In [7]:
df_combined_web_iva_search['session_start_cst'].min()

Timestamp('2017-09-16 10:00:50')

In [8]:
df_combined_web_iva_search['session_start_cst'].max()

Timestamp('2023-03-26 22:31:18')

In [9]:
df_combined_web_iva_search.shape

(1245878, 170)

In [10]:
df_combined_web_iva_search.drop_duplicates(inplace=True)

In [11]:
df_combined_web_iva_search.shape

(1106709, 170)

In [12]:
monthly_counts_1 = df_combined_web_iva_search.resample('M', on='session_start_cst').count()

In [13]:
monthly_counts_1

,agent_entitlement_client_name,agent_entitlement_access_key,channel,companytracking_clientid,companytracking_companyid,companytracking_companyname,companytracking_multitenantid,entry_id,entry_order,entry_type,...,load_timestamp,source_system_code,mobile_app_device_type,page_load_elapsed_time,mobile_app_type,session_create_date_cst_timezone_partition,platform_id_y,search_text,search_results,session_created_timestamp
session_start_cst,,,,,,,,,,,,,,,,,,,,,
2017-09-30,442,442,442,442,431,431,0,442,442,442,...,0,0,0,0,0,0,0,0,0,0
2017-10-31,4733,4733,4733,4733,4733,4733,0,4733,4733,4733,...,0,0,0,0,0,0,0,0,0,0
2017-11-30,4571,4571,4571,4571,4571,4571,0,4571,4571,4571,...,0,0,0,0,0,0,0,0,0,0
2017-12-31,783,783,783,783,783,783,0,783,783,783,...,0,0,0,0,0,0,0,0,0,0
2018-01-31,1290,1290,1289,1290,1290,1290,0,1290,1290,1290,...,36,36,0,36,36,36,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-30,25689,25689,25685,25689,25688,25688,0,25689,25689,25689,...,21823,21823,0,21793,21823,21823,9000,9000,9000,9000
2022-12-31,24983,24983,24981,24983,24980,24980,0,24983,24983,24983,...,23144,23144,0,23122,23144,23144,9085,9085,9085,9085
2023-01-31,47121,47121,47120,47121,47118,47118,0,47121,47121,47121,...,44577,44577,0,44512,44577,44577,20052,20052,20052,20052
2023-02-28,27164,27164,27163,27164,27163,27163,0,27164,27164,27164,...,25345,25345,0,25304,25345,25345,9381,9381,9381,9381
2023-03-31,22109,22109,22107,22109,22103,22103,0,22109,22109,22109,...,19186,19186,0,19143,19186,19186,7420,7420,7420,7420

In [14]:
df_combined_web_iva_search2 = df_combined_web_iva_search[['input', 'session_id','person_internal_id',
'client_id','yyyymm','person_id','person_birth_date', 'person_age', 'person_gender', 
'person_employment_status','person_state', 'person_union_vs_non_union', 'person_salary',
'person_eeo',
'global_session_id',
'web_session_id',
'page_name',
'business_page_name',
'page_domain',
'page_type_code',
'page_type',
'page_web_type_description',
'browser_language',
'page_visit_duration',
'page_process_name',
'page_process_detail',
 'session_start_cst',                                                         
'search_text',
'search_results']]

In [15]:
df_combined_web_iva_search3 = df_combined_web_iva_search2.fillna('')

In [16]:
df_combined_web_iva_search3.columns

Index(['input', 'session_id', 'person_internal_id', 'client_id', 'yyyymm',
       'person_id', 'person_birth_date', 'person_age', 'person_gender',
       'person_employment_status', 'person_state', 'person_union_vs_non_union',
       'person_salary', 'person_eeo', 'global_session_id', 'web_session_id',
       'page_name', 'business_page_name', 'page_domain', 'page_type_code',
       'page_type', 'page_web_type_description', 'browser_language',
       'page_visit_duration', 'page_process_name', 'page_process_detail',
       'session_start_cst', 'search_text', 'search_results'],
      dtype='object')

In [17]:
words_2 = ['day care', 'creche', 'child care', 
 'nursery', 'nursery school', 'preschool', 'after-school care', 'day nursery', 'infant school', 
 'infant care', 'playschool', 'play-group', 'kindergarten', 'childminding', 'babysitting', 'babysitter', 
 'nanny care', 'children supervision', 'toddler care']

df_combined_web_iva_search5= df_combined_web_iva_search3[(df_combined_web_iva_search3['input'].str.contains('|'.join(words_2), case=False, na=False)) 
                                                            | (df_combined_web_iva_search3['page_name'].str.contains('|'.join(words_2), case=False, na=False))
                                                           | (df_combined_web_iva_search3['search_text'].str.contains('|'.join(words_2), case=False, na=False))]
# df_combined_web_iva_search4_2 = df_combined_web_iva_search3[df_combined_web_iva_search3['page_name'].str.contains('|'.join(words_2), case=False, na=False)]
# df_combined_web_iva_search4_3 = df_combined_web_iva_search3[df_combined_web_iva_search3['search_text'].str.contains('|'.join(words_2), case=False, na=False)]

In [18]:
df_combined_web_iva_search3.shape

(1106709, 29)

In [19]:
df_combined_web_iva_search5.shape

(481793, 29)

In [20]:
df_combined_web_iva_search5 = df_combined_web_iva_search5.sample(frac=1, random_state=42)

In [21]:
df_combined_non_cc_web_iva_search = df_combined_web_iva_search3[(~df_combined_web_iva_search3['input'].str.contains('|'.join(words_2), case=False, na=False))
                                                            | (~df_combined_web_iva_search3['page_name'].str.contains('|'.join(words_2), case=False, na=False))
                                                           | (~df_combined_web_iva_search3['search_text'].str.contains('|'.join(words_2), case=False, na=False))].head(df_combined_web_iva_search5.shape[0]//3)

In [22]:
df_combined_non_cc_web_iva_search = df_combined_non_cc_web_iva_search.sample(frac=1, random_state=42)

In [23]:
df_combined_cc_model_data = pd.concat([df_combined_web_iva_search5, df_combined_non_cc_web_iva_search], axis=0).sample(frac=1, random_state=42)

In [24]:
df_combined_cc_model_data.shape

(642390, 29)

### text preprocess

In [25]:
def count_intnt_entits(text):
    doc = nlp(text)
    intents = [token.text for token in doc if token.pos_ == 'VERB']
    entities = [token.text for token in doc if token.pos_ in {'NOUN', 'PROPN', 'ADJ', 'NUM', 'ADV'}]
    return len(intents), len(entities)

import re
def clean_text(text):
    clean_text = re.sub(r'[^\w\s]', '', text)
    return clean_text

def extract_ner_entities(sentence):
    doc = nlp(sentence)
    entities = [(entity.text, entity.label_) for entity in doc.ents]
    return entities

import numpy as np
def length_entities(list_entities):
    if (list_entities==np.nan or list_entities==None or list_entities==''):
        return 0
    else:
        return len(list_entities)
    
# filter_func = lambda x: any(item[1] in ["PERSON", "GPE", "ORG", "LOC", "FAC"] for item in x)
def filter_named_entities(text):
    # Process the text using Spacy
    doc = nlp(text)
    # Filter out named entities (ORG, PERSON, and GPE tags)
    filtered_words = [token.text for token in doc if token.ent_type_ not in ['ORG', 'PERSON', 'GPE', "LOC", "FAC"]]
    # Join the filtered words back into a string
    filtered_text = ' '.join(filtered_words)
    return filtered_text

In [26]:
import re
    
list_1 = ['ira','RMD','HRdirect','livechat','what is my hsa','P45','Payslip?',
    'sps','F80.2','ub','What is YSA','Paystub please','Sh','mfv','C-128','ax','no is hsa','FormL564','HIS','cif','GreT','YSACard',
    'Heli','RxPCN','403(b)','Hsa yes or no','ypr','Gv','ONA?','What is UHC?','HC-2','uo','what is 4DX?','osh','what is my hsa?',
    'sPRAVATO','sdr','RMD’s','coverage?How','This is for my hsa','pto?','A&DD','childcareplus','fs','mbi','Is that my lowesbenefit.com',
    'hra yes','mri?']

def text_preprocess(dataframe, list_1):
    dataframe = dataframe.drop_duplicates()
    dataframe[['no_of_intents', 'no_of_entities']] = dataframe.apply(lambda x: pd.Series(count_intnt_entits(x['input'])), axis=1)  
    dataframe['input_cleaned'] = ''
    dataframe.loc[dataframe['input'].notnull(), 'input_cleaned'] = dataframe.loc[dataframe['input'].notnull(), 'input'].apply(clean_text)
    dataframe.loc[dataframe['page_name'].notnull(), 'page_name_cleaned'] = dataframe.loc[dataframe['page_name'].notnull(), 'page_name'].apply(clean_text)
    dataframe.loc[dataframe['search_text'].notnull(), 'search_text_cleaned'] = dataframe.loc[dataframe['search_text'].notnull(), 'search_text'].apply(clean_text)
    dataframe['ner_enities'] = ''
    dataframe.loc[dataframe['input_cleaned']!='', 'ner_enities'] = dataframe.loc[dataframe['input_cleaned']!='', 'input_cleaned'].apply(extract_ner_entities)
    dataframe['len_ner_enities'] = dataframe['ner_enities'].apply(length_entities)
    dataframe3 = dataframe[dataframe['len_ner_enities']>0]
    dataframe3['input_cleaned'] = dataframe3['input_cleaned'].apply(filter_named_entities)
    dataframe6 = pd.concat([dataframe[dataframe['len_ner_enities']==0], dataframe3], axis = 0)
    dataframe6 = dataframe6.drop(['no_of_intents','no_of_entities','ner_enities','len_ner_enities'], axis=1)
    dataframe6['input_changed']=dataframe6['input']!=dataframe6['input_cleaned']
    dataframe6['page_name_changed']=dataframe6['page_name']!=dataframe6['page_name_cleaned']
    dataframe6['search_text_changed']=dataframe6['search_text']!=dataframe6['search_text_cleaned']
    
    # create a new column 'category' containing 'Elder care' for rows where the words in words_2 appear in any of the cleaned text columns
    words_1 = ['day care', 'creche', 'child care', 
 'nursery', 'nursery school', 'preschool', 'after-school care', 'day nursery', 'infant school', 
 'infant care', 'playschool', 'play-group', 'kindergarten', 'childminding', 'babysitting', 'babysitter', 
 'nanny care', 'children supervision', 'toddler care']
    words_2 = [word.lower() for word in words_1]

    def contains_category(text):
        for word in words_2:
            pattern = r'(?<![^\W_])' + re.escape(word) + r'(?![^\W_])'
            if re.search(pattern, text.lower()):
#                 print(word)
                return True
        return False

    dataframe6['category'] = ''
    mask = (dataframe6['input_cleaned'].apply(contains_category) |
        dataframe6['page_name_cleaned'].apply(contains_category) |
        dataframe6['search_text_cleaned'].apply(contains_category)) & (dataframe6['category'] != 'Other')
    dataframe6.loc[mask, 'category'] = 'Child care'
    dataframe6.loc[dataframe6['category'] == '', 'category'] = 'Other'
    
    return dataframe6

In [27]:
df_combined_cc_model_data_2 = text_preprocess(df_combined_cc_model_data, list_1)

/tmp/ipykernel_18/1197987153.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[['no_of_intents', 'no_of_entities']] = dataframe.apply(lambda x: pd.Series(count_intnt_entits(x['input'])), axis=1)
/tmp/ipykernel_18/1197987153.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[['no_of_intents', 'no_of_entities']] = dataframe.apply(lambda x: pd.Series(count_intnt_entits(x['input'])), axis=1)
/tmp/ipykernel_18/1197987153.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['input_cleaned'] = ''
/tmp/ipykernel_18/1197987153.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.loc[dataframe['input'].notnull(), 'input_cleaned'] = dataframe.loc[dataframe['input'].notnull(), 'input'].apply(clean_text)
/tmp/ipykernel_18/1197987153.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.loc[dataframe['page_name'].notnull(), 'page_name_cleaned'] = dataframe.loc[dataframe['page_name'].notnull(), 'page_name'].apply(clean_text)
/tmp/ipykernel_18/1197987153.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.loc[dataframe['search_text'].notnull(), 'search_text_cleaned'] = dataframe.loc[dataframe['search_text'].notnull(), 'search_text'].apply(clean_text)
/tmp/ipykernel_18/1197987153.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['ner_enities'] = ''
/tmp/ipykernel_18/1197987153.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['len_ner_enities'] = dataframe['ner_enities'].apply(length_entities)
/tmp/ipykernel_18/1197987153.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe3['input_cleaned'] = dataframe3['input_cleaned'].apply(filter_named_entities)

In [28]:
# df_combined_cc_model_data_2.head(5)

In [29]:
df_combined_cc_model_data_3 = df_combined_cc_model_data_2.drop(['person_id','person_birth_date','person_gender','global_session_id','web_session_id','business_page_name',
                                                               'page_type_code','page_type','page_web_type_description','browser_language','page_process_name',
                                                                'page_process_detail','person_eeo'], axis =1)

In [30]:
df_combined_cc_model_data_3.columns

Index(['input', 'session_id', 'person_internal_id', 'client_id', 'yyyymm',
       'person_age', 'person_employment_status', 'person_state',
       'person_union_vs_non_union', 'person_salary', 'page_name',
       'page_domain', 'page_visit_duration', 'session_start_cst',
       'search_text', 'search_results', 'input_cleaned', 'page_name_cleaned',
       'search_text_cleaned', 'input_changed', 'page_name_changed',
       'search_text_changed', 'category'],
      dtype='object')

In [31]:
df_combined_cc_model_data_3.shape

(462572, 23)

In [32]:
df_combined_cc_model_data_3 = df_combined_cc_model_data_3[[ 'session_id', 'person_internal_id', 'client_id', 'input','input_cleaned',
                                                            'search_text','search_text_cleaned', 'page_name','page_name_cleaned',
                                                           'category','person_age',
        'person_employment_status', 'person_state',
       'person_union_vs_non_union', 'person_salary',
       'page_domain', 'page_visit_duration',
       'session_start_cst',
       'search_results', 'yyyymm',
        'input_changed', 'page_name_changed',
       'search_text_changed']]

In [33]:
df_combined_cc_model_data_3.dtypes

session_id                           object
person_internal_id                    int64
client_id                             int64
input                                object
input_cleaned                        object
search_text                          object
search_text_cleaned                  object
page_name                            object
page_name_cleaned                    object
category                             object
person_age                           object
person_employment_status             object
person_state                         object
person_union_vs_non_union            object
person_salary                        object
page_domain                          object
page_visit_duration                  object
session_start_cst            datetime64[ns]
search_results                       object
yyyymm                               object
input_changed                          bool
page_name_changed                      bool
search_text_changed                    bool
dtype: object

In [34]:
df_combined_cc_model_data_4 = df_combined_cc_model_data_3.drop(['input','search_text','page_name','input_changed','page_name_changed',
                                                               'search_text_changed'], axis=1)

In [35]:
df_combined_cc_model_data_5 = df_combined_cc_model_data_4.copy()

In [36]:
df_combined_cc_model_data_5[['person_age','person_salary','page_visit_duration']] = df_combined_cc_model_data_4[['person_age','person_salary','page_visit_duration']].apply(pd.to_numeric,errors='coerce')
# combined_ec_model_data_5['person_salary'] = df_combined_ec_model_data_4['person_salary'].to_numeric()
# combined_ec_model_data_5['page_visit_duration'] = df_combined_ec_model_data_4['page_visit_duration'].to_numeric()
# .astype({"person_age": float, "person_salary": float, "page_visit_duration": float })

In [37]:
df_combined_cc_model_data_5.shape

(462572, 17)

In [38]:
import pandas as pd

In [39]:
df_combined_cc_model_data_5['session_start_cst'].max()

Timestamp('2023-03-26 22:31:18')

In [40]:
monthly_counts_2 = df_combined_cc_model_data_5.resample('M', on='session_start_cst').count()

In [41]:
monthly_counts_2

,session_id,person_internal_id,client_id,input_cleaned,search_text_cleaned,page_name_cleaned,category,person_age,person_employment_status,person_state,person_union_vs_non_union,person_salary,page_domain,page_visit_duration,session_start_cst,search_results,yyyymm
session_start_cst,,,,,,,,,,,,,,,,,
2017-09-30,425,425,425,425,425,425,425,0,425,425,425,0,425,0,425,425,425
2017-10-31,4563,4563,4563,4563,4563,4563,4563,0,4563,4563,4563,0,4563,0,4563,4563,4563
2017-11-30,4426,4426,4426,4426,4426,4426,4426,0,4426,4426,4426,0,4426,0,4426,4426,4426
2017-12-31,764,764,764,764,764,764,764,0,764,764,764,0,764,0,764,764,764
2018-01-31,921,921,921,921,921,921,921,18,921,921,921,18,921,18,921,921,921
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-30,15859,15859,15859,15859,15859,15859,15859,13310,15859,15859,15859,11661,15859,15406,15859,15859,15859
2022-12-31,17580,17580,17580,17580,17580,17580,17580,15369,17580,17580,17580,14487,17580,17261,17580,17580,17580
2023-01-31,33909,33909,33909,33909,33909,33909,33909,31765,33909,33909,33909,30683,33909,33382,33909,33909,33909
2023-02-28,20248,20248,20248,20248,20248,20248,20248,19095,20248,20248,20248,18498,20248,19885,20248,20248,20248
2023-03-31,15256,15256,15256,15256,15256,15256,15256,14416,15256,15256,15256,12982,15256,14604,15256,15256,15256

In [42]:
df_combined_cc_model_data_5.shape

(462572, 17)

In [43]:
df_combined_cc_model_data_5['session_start_cst'].max()

Timestamp('2023-03-26 22:31:18')

In [44]:
# filterimg last sox month data as unseen test data
start_date = pd.to_datetime('2022-09-26 00:00:00')
end_date = df_combined_cc_model_data_5['session_start_cst'].max()
unseen_test_df = df_combined_cc_model_data_5[(df_combined_cc_model_data_5['session_start_cst'] >= start_date) & (df_combined_cc_model_data_5['session_start_cst'] <= end_date)]

In [45]:
unseen_test_df.shape

(131268, 17)

In [46]:
unseen_test_df.fillna(value={'input_cleaned': ' ', 'page_name_cleaned': ' ', 'search_text_cleaned': ' '}, inplace=True)

/tmp/ipykernel_18/3508498311.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unseen_test_df.fillna(value={'input_cleaned': ' ', 'page_name_cleaned': ' ', 'search_text_cleaned': ' '}, inplace=True)

In [47]:
unseen_test_df[['input_cleaned', 'search_text_cleaned', 'page_name_cleaned', 'category']].to_excel('CC_unseen_data.xlsx')

In [48]:
final_CC_model_df = df_combined_cc_model_data_5[df_combined_cc_model_data_5['session_start_cst'] < start_date]

In [49]:
final_CC_model_df.to_excel('final_cc_model_data.xlsx')

In [50]:
final_CC_model_df.shape

(242317, 17)

In [51]:
# Load the data
data = pd.read_excel('final_cc_model_data.xlsx')[['input_cleaned', 'search_text_cleaned', 'page_name_cleaned', 'category']]
data.sample()

,input_cleaned,search_text_cleaned,page_name_cleaned,category
227351,Good morning I was reaching out to find out th...,NaN,HmCstmChildCarePlusLandingPageOpen,Child care

In [52]:
data.fillna(value={'input_cleaned': ' ', 'page_name_cleaned': ' ', 'search_text_cleaned': ' '}, inplace=True)

In [53]:
# data.sample()

In [54]:
data.category.value_counts()

Child care    195189
Other          47128
Name: category, dtype: int64

In [55]:
data.category = data.category.map({'Other':0, 'Child care':1})
data.sample()

,input_cleaned,search_text_cleaned,page_name_cleaned,category
209308,plus,child care plus Coverage,HmCstmChildCarePlusLandingPageOpen,1

In [56]:
data.category.value_counts()

1    195189
0     47128
Name: category, dtype: int64

### Model building on the basis of just text columns

------

In [ ]:
import pandas as pd
import numpy as np
import torch
from sklearn.metrics import accuracy_score, confusion_matrix
from transformers import BertTokenizer, BertForSequenceClassification

# set the random seed for NumPy
np.random.seed(32)

# set the random seed for PyTorch
torch.manual_seed(32)

# load the data
# data = pd.read_csv('data.csv')

# load the BERT tokenizer
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')

# encode the data using the tokenizer
encodings = tokenizer(list(data['input_cleaned']), list(data['search_text_cleaned']), list(data['page_name_cleaned']),
                      truncation=True, padding=True)

# create the dataset
dataset = torch.utils.data.TensorDataset(
    torch.tensor(encodings['input_ids']),
    torch.tensor(encodings['attention_mask']),
    torch.tensor(list(data['category']))
)

# split the dataset into training and validation sets
train_size = int(0.9 * len(dataset))
val_size = len(dataset) - train_size
train_dataset, val_dataset = torch.utils.data.random_split(dataset, [train_size, val_size])

# create the DataLoader for the training and validation sets
train_loader = torch.utils.data.DataLoader(train_dataset, batch_size=32, shuffle=True)
val_loader = torch.utils.data.DataLoader(val_dataset, batch_size=32, shuffle=False)

# load the BERT model for sequence classification
model = BertForSequenceClassification.from_pretrained('bert-base-uncased', num_labels=2,)

# set up the optimizer and loss function
optimizer = torch.optim.AdamW(model.parameters(), lr=2e-3)
loss_fn = torch.nn.CrossEntropyLoss()

epochs=5

# train the model
for epoch in range(epochs):
    running_loss = 0.0
    for batch in train_loader:
        input_ids, attention_mask, labels = batch
        outputs = model(input_ids, attention_mask=attention_mask, labels=labels)
        loss = outputs.loss
        logits = outputs.logits
        loss.backward()
        optimizer.step()
        optimizer.zero_grad()
        running_loss += loss.item()
    print(f'Epoch {epoch + 1} Loss: {running_loss / len(train_loader)}')

    # make predictions on the validation set and compute the accuracy
    predictions = []
    true_labels = []
    with torch.no_grad():
        model.eval()
        for batch in val_loader:
            input_ids, attention_mask, labels = batch
            outputs = model(input_ids, attention_mask=attention_mask)
            logits = outputs.logits
            predictions.extend(torch.argmax(logits, dim=1).tolist())
            true_labels.extend(labels.tolist())

    accuracy = accuracy_score(true_labels, predictions)
    print(f'Epoch {epoch + 1} Validation Accuracy: {accuracy}')

    # generate the confusion matrix
    cm = confusion_matrix(true_labels, predictions)
    print(f'Epoch {epoch + 1} Confusion Matrix:')
    print(cm)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertForSequenceClassification: ['cls.seq_relationship.weight', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.dense.weight', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.decoder.weight', 'cls.seq_relationship.bias', 'cls.predictions.bias']
- This IS expected if you are initializing BertForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of BertForSequenceClassification were not initialized from the model checkpoint at bert-base-uncased and are newly initialized: ['classifier.weight', 'classifier.bias']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

Epoch 1 Loss: 0.5304436680845515
Epoch 1 Validation Accuracy: 0.8087652690656982
Epoch 1 Confusion Matrix:
[[    0  4634]
 [    0 19598]]
Epoch 2 Loss: 0.5277973418736157
Epoch 2 Validation Accuracy: 0.8087652690656982
Epoch 2 Confusion Matrix:
[[    0  4634]
 [    0 19598]]
Epoch 3 Loss: 0.529540378524935
Epoch 3 Validation Accuracy: 0.8087652690656982
Epoch 3 Confusion Matrix:
[[    0  4634]
 [    0 19598]]
Epoch 4 Loss: 0.49855839432886156

In [ ]:
train_size, val_size

In [ ]:
# define the path to save the model
save_path = "./CC_model_outer_combined_texts_data/"

# create the directory if it doesn't exist
import os
if not os.path.exists(save_path):
    os.makedirs(save_path)

# save the model
model.save_pretrained(save_path)

## prediction code

In [ ]:
new_data.dtypes

In [ ]:
import pandas as pd
import torch
from transformers import BertTokenizer, BertForSequenceClassification

# load the BERT tokenizer
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')

# load the trained model
model = BertForSequenceClassification.from_pretrained(save_path)

# load the new data to be predicted
new_data = pd.read_excel('CC_unseen_data.xlsx')

# encode the new data using the tokenizer
# encode the new data using the tokenizer
input_texts = new_data['input_cleaned'].fillna(' ').tolist()
search_texts = new_data['search_text_cleaned'].fillna(' ').tolist()
page_names = new_data['page_name_cleaned'].fillna(' ').tolist()

In [ ]:
encodings = tokenizer(input_texts, search_texts, page_names,
                      truncation=True, padding=True)

# create the dataset
dataset = torch.utils.data.TensorDataset(
    torch.tensor(encodings['input_ids']),
    torch.tensor(encodings['attention_mask'])
)

# create the DataLoader for the new data
loader = torch.utils.data.DataLoader(dataset, batch_size=32, shuffle=False)

# make predictions on the new data
predictions = []
probabilities = []
with torch.no_grad():
    model.eval()
    for batch in loader:
        input_ids, attention_mask = batch
        outputs = model(input_ids, attention_mask=attention_mask)
        logits = outputs.logits
        probs = torch.nn.functional.softmax(logits, dim=1)
        probabilities.extend(probs[:, 1].tolist())
        predictions.extend(torch.argmax(logits, dim=1).tolist())

# new_data['predictions'] = new_data['predictions'].apply(label_predictions)
new_data['predictions'] = pd.Series(predictions).apply(lambda x: 'Other' if x==0 else 'Child care' if x==1 else ' ')

# new_data['predictions'] = new_data['predictions'].replace({0:'Other', 1:'Elder care'})

new_data['probability'] = probabilities
# save the new data with predictions
new_data.to_csv('CC_predictions.csv', index=False)

In [ ]:
new_data['predictions'].value_counts()

In [ ]:
new_data['category'].value_counts()

In [ ]:
# make predictions on the validation set and compute the accuracy
predictions = list(new_data['predictions'])
true_labels = list(new_data['category'])

accuracy = accuracy_score(true_labels, predictions)

# generate the confusion matrix
cm = confusion_matrix(true_labels, predictions)
print(cm)
print(accuracy)

In [ ]:
# Convert confusion matrix to pandas dataframe for visualization
# labels = ['Other', 'Elder care']

In [ ]:
# import seaborn as sns
# import matplotlib.pyplot as plt  
# fig = plt.figure()
# ax = fig.add_subplot(111)
# cax = ax.matshow(cm)
# plt.title('Confusion matrix of the classifier')
# fig.colorbar(cax)
# ax.set_xticklabels([''] + labels)
# ax.set_yticklabels([''] + labels)
# plt.xlabel('Predicted')
# plt.ylabel('True')
# plt.show()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt     

ax= plt.subplot()
sns.heatmap(cm, annot=True, fmt='g', ax=ax);  #annot=True to annotate cells, ftm='g' to disable scientific notation

# labels, title and ticks
accuracy = accuracy_score(true_labels, predictions)
print(accuracy)

ax.set_xlabel('Predicted labels');ax.set_ylabel('True labels'); 
ax.set_title('Confusion Matrix'); 
ax.xaxis.set_ticklabels(['Child care','Other']); ax.yaxis.set_ticklabels(['Child care', 'Other']);